@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav li {
        text-align: center;
        padding: 10px 0;
    }
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    image-orientation: from-image;

}

li {
margin-bottom: 0.5rem;
}
