nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    flex: 1 1 auto;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    image-orientation: from-image;

}

li {
margin-bottom: 0.5rem;
}
